html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  background: rgb(255,136,0) no-repeat center center fixed; 
  background: linear-gradient(180deg, rgba(255,136,0,1) 0%, rgba(215,42,19,1) 100%) no-repeat center center fixed; 
}
.navbar {
  background-image: url(../images/wood.jpg); 
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}
.nav-link {
  color: whitesmoke !important;
}
.dropdown {
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
}
.dropdown-menu {
  background-color: rgb(211, 211, 211) !important;
}
#title {
  margin-top: 1rem;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  color: rgba(215,42,19,1);
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
h1, h3 {
  text-align: center;
  margin-bottom: 1rem !important;
}
h4, h2 {
  color: rgba(215,42,19,1);
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.btn {
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);

  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#toppingsContainer {
  max-height: 20rem;
  flex-wrap: wrap;
}
.meatToppings {
  background-color: transparent;
}
label {
  color: black;
}
#sizeContainer {
  max-height: 20rem;
  width: 80%;
  flex-wrap: wrap;
}
.pizzaSizes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sizeButton {
  background-color: rgb(146, 34, 0) !important;
  color: whitesmoke !important;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.sizeButton.active {
  background-color: rgb(102, 15, 1) !important;
  color: whitesmoke !important;
}
.pizza-size-img {
  width: 80%;
  background-color: transparent;
}
.pizza-size-img.undefined {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform:scale(1);
  transform-origin:top;
}
.pizza-size-img.Small {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform:scale(1);
  transform-origin:top;
}
.pizza-size-img.Medium {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform:scale(1.2);
  transform-origin:top;
}
.pizza-size-img.Large {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform:scale(1.4);
  transform-origin:top;
}
.pizza-size-img.Super {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform:scale(1.6);
  transform-origin:top;
}

.pizza-selection {
  text-align: center;
}
#button-row {
  margin: 1rem 2rem 1rem 0;
  width: 50%;
  display: flex;
  float: right;
  justify-content: space-evenly;
}
/********** Quantity Widget **********/
.quantityContainer {
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
}
.quantityContainer .btn {
  box-shadow: none;
  text-shadow: none;
}
.btn.plus {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid lightgrey;
}
.btn.minus {
  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid lightgrey;
}
.quantity {
  margin-left: 1rem;
  margin-right: 1rem;
}

.errorMessage {
  font-style: italic;
  font-weight: bold;
  color: red;
  margin: 0 1rem 0 0;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
#summaryBorder {
  border: 2px solid rgb(71, 9, 0);
  margin-top: 2rem;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
  border-radius: 10px;
}
#summaryBorder[data-margin="Super"] {
  margin-top: 4rem;
}
#summaryContainer {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.row.toppings {
  color: rgb(211, 211, 211);
  font-style: italic;
}
#col-price {
  max-width: 4rem;
  padding: 0;
  text-align: right;
}
#col-remove {
  max-width: 5rem;
  padding: 0;
}
#orderCost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.history-row {
  width: 100%;
  display: inline-block;
  border: 2px solid black;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 2rem;
}
.history-row .btn {
  float: right;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .nav-link {
    padding-left: 0 !important;
  }
  .dropdown-menu-right {
    left: 0 !important;
    top: 1.5rem !important;
  }
  #toppingsContainer {
    max-height: initial;
  }
  #sizeContainer {
    max-height: initial;
  }
  .pizza-size-img.undefined {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform:scale(0.6);
    transform-origin:top;
  }
  .pizza-size-img.Small {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform:scale(0.6);
    transform-origin:top;
  }
  .pizza-size-img.Medium {  -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform:scale(0.7);
    transform-origin:top;
  }
  .pizza-size-img.Large {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform:scale(0.8);
    transform-origin:top;
  }
  .pizza-size-img.Super {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transform:scale(1);
    transform-origin:top;
  }
  #button-row {
    width: 100vw;
    margin: 1rem 0 1rem 0;
  }
}